.container{
  padding-top: 20px;
  width: 750px;
  height: 350px;
}


.onoffswitch {
  position: relative; width: 180px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;height:40px;
  border: 2px solid #D6D6D6; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left:200%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 65px; padding: 0; line-height: 42px;
  font-size: 20px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Alert On";
  font-size:15px;
  padding-left: 40px;
  background-color: #0CCC0F; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "Alert Off";
  padding-right: 40px;
  background-color: #9C9C9C; color: #59ccc8;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 40px; margin: 1px; height: 38px;
  background: #FFFFFF;
  border: 2px solid #D6D6D6; border-radius: 30px;
  position: absolute; top: 0; bottom: 0; right: 144px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
