
  <a href="" class="circle-poly error" >
    <div class="row">
      <div class="header col-xs-12 ng-binding">{{Name}}</div>
      <!--Upright Chiller-->
      <div class="thermal col-xs-6 "><i class="fa fa-thermometer-half" style="font-size: 35px"></i> {{Temp}}°<span>C</span></div>
      <!--<div class="thermal col-xs-6"><i class="fa fa-thermometer-half" style="font-size: 35px"></i> &#45;&#45;&#45;&#45;</div>-->
      <div  class="readings col-xs-6 ng-binding"><b>({{jstoday}})</b>
      </div>
    </div>

  </a>
